div.login
  header.login-header
    span.text LOGIN
    span.loader
  form.login-form
    input.login-input(type="text", placeholder="Username" name="username")
    input.login-input(type="password", placeholder="Password"  name="password")
    button.login-btn(type="submit") login